# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse
.classpath
.project
.settings/
bin/

# VSCode
.vscode/

# macOS
.DS_Store

# Minecraft run directory
run/

# Fabric
.fabric/
remappedSrc/

# Logs
*.log
logs/
